body{  
    background-color: #333  ;
    font-family:arial;
    color:silver;
    margin: 0;
    padding: 0;
  }
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.ph1{
    height: 100vh;
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-bottom: 200vh; */
    margin-bottom: 150vh;
}
.ph2{
    height: 100vh;
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    
    justify-content: center;
}
.ph-text{
    font-size: 24px;
    font-weight: 400;
    color: white;
    max-width: 400px;
    text-align: center;
}
.character1, .character12{
    /* border: 1px solid red; */
}
.container {
    width: 500px;   overflow-x:hidden;
    /* border: 1px solid green; */
    transform: scale(0.5)   ;
    /* margin: auto; */
    z-index: 10;
    margin: 0;
    /* position: absolute; */
    /* left: 24vh; */
    /* background: blue; */
}