body{  
    background-color: #000  ;
    font-family:arial;
    color:silver;
    margin: 0;
    padding: 0;
  }
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.bg{
    background: conic-gradient(from -82.18deg at 47.64% 56.16%, #00E29A 0deg, #00A3FF 90deg, #5FFFE2 180deg, #00A3FF 189.38deg, #648F98 234.38deg, #AD00FF 360deg);
filter: blur(72px);
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 1000;
    border-radius: 8px;
}
.ph-bg{
    width: 250px;
    height: 600px;
    position: absolute;
    background: conic-gradient(from -82.18deg at 47.64% 56.16%, #00E29A 0deg, #00A3FF 90deg, #5FFFE2 180deg, #00A3FF 189.38deg, #648F98 234.38deg, #AD00FF 360deg);
    filter: blur(72px);
    /* margin-bottom: 50px; */
    
}
.primergb{
    /* left: 35vh; */
    left: 25%;
    transform: translateX(-50%);
    animation: ripple 3s infinite;
    opacity: 0;
}
.segundobg{
    /* right: 35vh; */
    right: 25%;
    animation: ripple 3s infinite;
}
.ph1{
    height: 100vh;
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-bottom: 200vh; */
    margin-bottom: 150vh;
   
}
.ph2{
    height: 100vh;
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    
    justify-content: center;
    
}
.ph-text{
    font-size: 24px;
    font-weight: 400;
    color: white;
    max-width: 400px;
    text-align: center;
}
/* .character1, .character12{
    border: 1px solid red;
} */
.pht1{
    position: absolute;
    /* right: 30vh; */
    right: 15%;
}
.pht2{
    position: absolute;
    /* left: 30vh; */
    left: 15%;
}
.container {
    width: 500px;  height: 1000px; overflow:hidden;
    /* border: 1px solid green; */
    /* transform: scale(0.5) translateY(-150vh);    */
    /* margin: auto; */
    z-index: 10;
    transform: scale(0.5) ;
    /* margin: auto; */
    position: relative;
    top: 0;
    
    
    /* background: blue; */
}
.primero{
    /* left: 20vh; */
    transform: translateX(-50%) scale(0.5);
}
.segundo{
    transform: translateX(50%) scale(0.5);
}

/* @media (max-width: 1170px){
    .primero{
        left: 10vh;
    }
    .segundo{
        right: 10vh;
    }
    .pht1{
        right: 15vh;
    }
    .pht2{
        left: 15vh;
    }
    .primergb{
        left: 25vh;
    }
    .segundobg{
        right: 25vh;
    }
} */
@media (max-width: 991px){
    
    .pht1{
        right: 7vh;
    }
    .pht2{
        left: 7vh;
    }
    .primergb{
        left: 21vh;
    }
    .segundobg{
        right: 21vh;
    }
}
@media (max-width: 900px){
    .primero{
        transform: scale(0.5);
    }
    .segundo{
        transform: scale(0.5);
    }
    .pht1{
        left: 0;
        right: 0;
        transform: translateY(500%);
        margin: auto;
    }
    .pht2{
        left: 0;
        right: 0;
        transform: translateY(500%);
        margin: auto;
    }
    .primergb{
        left: 0;
        right: 0;
        margin: auto;
    }
    .segundobg{
        right: 0;
        left: 0;
        margin: auto;
    }
}
@media (max-width: 500px){
    .primero{
        transform: scale(0.3);
    }
    .segundo{
        transform: scale(0.3);
    }
    .ph-text{
        font-size: 18px;
    }
    .primergb{
        height: 400px;
        margin-bottom: 0px;
    }
    .segundobg{
       height: 400px;
       margin-bottom: 0px;
    }
}
@media (max-width: 450px){
    .container{
        transform: scale(0.4) translateY(-200vh) translateX(-10vh);
    }
}
@media (max-width: 435px){
    .container{
        transform: scale(0.4) translateY(-200vh) translateX(-15vh);
    }
}
@media (max-width: 410px){
    .container{
        transform: scale(0.4) translateY(-200vh) translateX(-20vh);
    }
}
@media (max-width: 380px){
    .container{
        transform: scale(0.4) translateY(-200vh) translateX(-25vh);
    }
}
@media (max-width: 350px){
    .container{
        transform: scale(0.4) translateY(-200vh) translateX(-35vh);
    }
}
@media (max-width: 290px){
    .container{
        transform: scale(0.4) translateY(-200vh) translateX(-40vh);
    }
}
@media (max-width: 270px){
    .container{
        transform: scale(0.4) translateY(-200vh) translateX(-45vh);
    }
}
@media (max-width: 250px){
    .container{
        transform: scale(0.4) translateY(-200vh) translateX(-50vh);
    }
}
@keyframes ripple{
    0%{
        transform: scale(0.8) ;
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(0.8);
    }
}